* {
    font-family: 微软雅黑;
}


/* 顶部 */

.qy-top {
    height: 132px;
    position: relative;
    margin: auto;
}

.qy-top-left {
    position: absolute;
    width: 156px;
    height: 32px;
    left: 60px;
    top: 56px;
}

.qy-top-left li {
    width: 32px;
    height: 55px;
    margin: 0px 10px;
    float: left;
}

.qy-top-left li:first-child {
    background: url(../images/qy-top-10.png) no-repeat top center;
    position: relative;
}

.qy-top-left li:first-child:hover {
    background-image: url(../images/qy-top-1.png);
}

.qy-top-left li:first-child div {
    width: 310px;
    height: 180px;
    background: url(../images/qy-top-6.png) no-repeat top center;
    background-size: 100%;
    position: absolute;
    left: -144px;
    top: 40px;
    z-index: 4;
    display: none;
}

.qy-top-left li:nth-child(2) {
    background: url(../images/qy-top-11.png) no-repeat top center;
    position: relative;
}

.qy-top-left li:nth-child(2):hover {
    background-image: url(../images/qy-top-2.png);
}

.qy-top-left li:nth-child(2) div {
    width: 165px;
    height: 256px;
    background: url(../images/qy-top-8.png) no-repeat top center;
    background-size: 100%;
    position: absolute;
    left: -69px;
    top: 40px;
    z-index: 4;
    display: none;
}

.qy-top-left li:nth-child(3) {
    background: url(../images/qy-top-12.png) no-repeat top center;
}

.qy-top-left li:nth-child(3):hover {
    background-image: url(../images/qy-top-3.png);
}

.qy-top-left li:nth-child(3) div {
    width: 310px;
    height: 180px;
    background: url(../images/qy-top-5.png) no-repeat top center;
    background-size: 100%;
    position: absolute;
    left: -28px;
    top: 40px;
    z-index: 4;
    display: none;
}

.qy-top-left li:nth-child(3) div a {
    width: 233px;
    height: 51px;
    background: url(../images/qy-top-13.png) no-repeat center center;
    background-size: 100%;
    display: block;
    margin: auto;
    margin-top: 86px;
}

.qy-top-center a {
    width: 260px;
    height: 70px;
    position: absolute;
    left: 510px;
    top: 31px;
    background: url(../images/qy-top-9.png) no-repeat center center;
    background-size: 100%;
    display: block;
}

.qy-top-right {
    width: 216px;
    height: 40px;
    float: right;
    background-color: #f6f6f6;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 48px;
    margin-right: 50px;
}

.qy-top-right input {
    height: 100%;
    line-height: 40px;
    border: 0px;
    width: 140px;
    color: #666;
    font-size: 14px;
    padding: 0px 15px;
    background-color: transparent;
}

.qy-top-right a {
    width: 46px;
    height: 40px;
    background: url(../images/qy-top-4.png) no-repeat center center;
    background-size: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
}


/* 导航 */

.qy-nav {
    border-top: 1px solid #f0f0f0;
    padding-bottom: 2px;
}

.qy-nav-one {
    position: relative;
}

.qy-nav-one li {
    float: left;
}

.qy-nav-one li:first-child>a {
    margin-left: 74px;
}

.qy-nav-one li:nth-child(5)>a {
    border-bottom: 2px solid #2fc7a0;
    color: #2fc7a0;
    box-sizing: border-box;
}

.qy-nav-one li:nth-child(5)>a:hover {
    border-bottom: none;
}

.qy-nav-one li>a {
    float: left;
    font-size: 16px;
    height: 55px;
    line-height: 60px;
    padding: 0px 22px;
    margin: 0px 24px;
    color: #656565;
}

.qy-nav-one li>a:hover {
    color: #2fc7a0;
}

.qy-nav-two {
    width: 1903px;
    background-color: #fff;
    position: absolute;
    top: 57px;
    left: -312px;
    z-index: 2;
    display: none;
    padding-bottom: 22px;
    border-top: 1px solid #f0f0f0;
}

.qy-nav-two div>div {
    width: 211px;
    text-align: center;
    margin-top: 38px;
    float: left;
}

.qy-nav-two div>div:first-child {
    margin-left: 11px;
}

.qy-nav-two div>div a {
    display: block;
    font-size: 14px;
    color: #91919f;
    margin-bottom: 16px;
}

.qy-nav-two div>div a:first-child {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 25px;
}

.qy-nav-two>div .qy-nav-heard {
    float: right;
    width: 500px;
    height: 280px;
    margin-top: 38px
}

.qy-nav-three {
    width: 1903px;
    background-color: #fff;
    position: absolute;
    top: 57px;
    left: -312px;
    z-index: 2;
    display: none;
    padding-bottom: 22px;
    border-top: 1px solid #f0f0f0;
}

.qy-nav-three div>div {
    width: 211px;
    text-align: center;
    margin-top: 38px;
    float: left;
}

.qy-nav-three div>div:first-child {
    margin-left: 11px;
}

.qy-nav-three div>div a {
    display: block;
    font-size: 14px;
    color: #91919f;
    margin-bottom: 16px;
}

.qy-nav-three div>div a:first-child {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 25px;
}

.qy-nav-three>div .qy-nav-brends {
    float: right;
    width: 500px;
    height: 280px;
    margin-top: 38px
}


/* 第一张图 */

.repairs-first {
    width: 100%;
    height: 597px;
    background-image: url(../images/repairs/1566462573.jpg);
}


/* 导航 */

.repairs-nav-title {
    width: 1280px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    height: 40px;
}

.repairs-nav-main {
    width: 100%;
    padding: 40px 0px 30px;
    text-align: center;
}

.repairs-nav-main a {
    padding: 7px 30px;
    color: #434343;
    font-size: 16px;
    margin: 0px 32px;
}

.repairs-nav-main a:nth-child(2) {
    background-color: #2fc7a0;
    color: #fff;
    border-radius: 30px;
}

.repairs-nav-main a:nth-child(2):hover {
    color: #fff;
}

.repairs-nav-main a:hover {
    color: #2fc7a0;
}


/* 在线报修 */

.repairs-in {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 250;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

.repairs-in-content {
    height: 550px;
    width: 800px;
    position: relative;
    z-index: 11;
    background-color: #fff;
    border: 10px solid #f3f3f3;
    box-shadow: 0px 0px 20px 10px #d3d3d3;
    left: 541.5px;
    top: 199.5px;
}

.repairs-in-img {
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    background-image: url(../images/repairs/zaixianbaoxiu.png);
    background-size: 210px;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 40px;
}

.repairs-in-main {
    width: 660px;
    margin: auto;
}

.repairs-in-name {
    width: 300px;
    height: 50px;
    background-color: #f5f5f5;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;
}

.repairs-in-name input {
    width: 100%;
    height: 16px;
    line-height: 1;
    color: #666;
    font-size: 16px;
    padding: 17px 10px;
    border: 0px;
    background-color: transparent;
}

.repairs-in-main textarea {
    width: 600px;
    height: 66px;
    line-height: 22px;
    color: #666;
    font-size: 16px;
    border: 0px;
    background-color: #f5f5f5;
    resize: none;
    padding: 5px 10px;
    margin-left: 20px;
}

.repairs-in-content .push {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2fc7a0;
    margin: auto;
    margin-top: 40px;
}

.repairs-in-content .push:hover {
    opacity: 0.8;
}

.repairs-in-content .close {
    width: 36px;
    height: 36px;
    background: #3dbfa0 url(../images/repairs/closeico.png) no-repeat center center;
    background-size: 20px;
    border-radius: 20px;
    position: fixed;
    top: 180.5px;
    right: 523.5px;
    z-index: 26;
}