/* 顶部 */

.qy-top {
    height: 132px;
    position: relative;
    margin: auto;
}

.qy-top-left {
    position: absolute;
    width: 156px;
    height: 32px;
    left: 60px;
    top: 56px;
}

.qy-top-left li {
    width: 32px;
    height: 55px;
    margin: 0px 10px;
    float: left;
}

.qy-top-left li:first-child {
    background: url(../images/qy-top-10.png) no-repeat top center;
    position: relative;
}

.qy-top-left li:first-child:hover {
    background-image: url(../images/qy-top-1.png);
}


/* .qy-top-left li:first-child:hover .qy-top-left li:first-child div {
    display: block;
} */

.qy-top-left li:first-child div {
    width: 310px;
    height: 180px;
    background: url(../images/qy-top-6.png) no-repeat top center;
    background-size: 100%;
    position: absolute;
    left: -144px;
    top: 40px;
    z-index: 4;
    display: none;
}

.qy-top-left li:nth-child(2) {
    background: url(../images/qy-top-11.png) no-repeat top center;
    position: relative;
}

.qy-top-left li:nth-child(2):hover {
    background-image: url(../images/qy-top-2.png);
}

.qy-top-left li:nth-child(2) div {
    width: 165px;
    height: 256px;
    background: url(../images/qy-top-8.png) no-repeat top center;
    background-size: 100%;
    position: absolute;
    left: -69px;
    top: 40px;
    z-index: 4;
    display: none;
}

.qy-top-left li:nth-child(3) {
    background: url(../images/qy-top-12.png) no-repeat top center;
}

.qy-top-left li:nth-child(3):hover {
    background-image: url(../images/qy-top-3.png);
}

.qy-top-left li:nth-child(3) div {
    width: 310px;
    height: 180px;
    background: url(../images/qy-top-5.png) no-repeat top center;
    background-size: 100%;
    position: absolute;
    left: -28px;
    top: 40px;
    z-index: 4;
    display: none;
}

.qy-top-left li:nth-child(3) div a {
    width: 233px;
    height: 51px;
    background: url(../images/qy-top-13.png) no-repeat center center;
    background-size: 100%;
    display: block;
    margin: auto;
    margin-top: 86px;
}

.qy-top-center a {
    width: 260px;
    height: 70px;
    position: absolute;
    left: 510px;
    top: 31px;
    background: url(../images/qy-top-9.png) no-repeat center center;
    background-size: 100%;
    display: block;
}

.qy-top-right {
    width: 216px;
    height: 40px;
    float: right;
    background-color: #f6f6f6;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 48px;
    margin-right: 50px;
}

.qy-top-right input {
    height: 100%;
    line-height: 40px;
    border: 0px;
    width: 140px;
    color: #666;
    font-size: 14px;
    padding: 0px 15px;
    background-color: transparent;
}

.qy-top-right a {
    width: 46px;
    height: 40px;
    background: url(../images/qy-top-4.png) no-repeat center center;
    background-size: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
}


/* 导航 */

.qy-nav {
    border-top: 1px solid #f0f0f0;
    padding-bottom: 2px;
}

.qy-nav-one {
    position: relative;
}

.qy-nav-one a:first-child {
    margin-left: 74px;
}

.qy-nav-one a:first-child {
    border-bottom: 2px solid #2fc7a0;
    color: #2fc7a0;
    box-sizing: border-box;
}

.qy-nav-one a:first-child:hover {
    border-bottom: none;
}

.qy-nav-one a {
    float: left;
    font-size: 16px;
    height: 55px;
    line-height: 60px;
    padding: 0px 22px;
    margin: 0px 24px;
    color: #656565;
}

.qy-nav-one>a:hover {
    color: #2fc7a0;
}

.qy-nav-two {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 190px;
    left: 0px;
    z-index: 2;
    display: none;
    padding-bottom: 22px;
    border-top: 1px solid #f0f0f0;
}

.qy-nav-two div>div {
    width: 211px;
    text-align: center;
    margin-top: 38px;
    float: left;
}

.qy-nav-two div>div:first-child {
    margin-left: 11px;
}

.qy-nav-two div>div a {
    display: block;
    font-size: 14px;
    color: #91919f;
    margin-bottom: 16px;
}

.qy-nav-two div>div a:first-child {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 25px;
}

.qy-nav-two>div .qy-nav-heard {
    float: right;
    width: 500px;
    height: 280px;
    margin-top: 38px
}

.qy-nav-three {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 190px;
    left: 0px;
    z-index: 2;
    display: none;
    padding-bottom: 22px;
    border-top: 1px solid #f0f0f0;
}

.qy-nav-three div>div {
    width: 211px;
    text-align: center;
    margin-top: 38px;
    float: left;
}

.qy-nav-three div>div:first-child {
    margin-left: 11px;
}

.qy-nav-three div>div a {
    display: block;
    font-size: 14px;
    color: #91919f;
    margin-bottom: 16px;
}

.qy-nav-three div>div a:first-child {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 25px;
}

.qy-nav-three>div .qy-nav-brends {
    float: right;
    width: 500px;
    height: 280px;
    margin-top: 38px
}


/* 轮播图 */

.qy-slider {
    width: 100%;
    height: 729px;
    position: relative;
}

.qy-slider ul li {
    position: absolute;
    display: none;
}

.qy-slider ul li:first-child {
    display: block;
}

.qy-slider ol {
    position: absolute;
    left: 50%;
    bottom: 52px;
    transform: translate(-50%);
}

.qy-slider ol li {
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #fff;
}

.qy-slider ol li.current {
    background-color: #2fc7a0;
}

.qy-time {
    width: 1280px;
    margin: 65px auto;
    height: 140px;
}